<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('templates/head')%>
		<script type="module" src="./js/barcode.js" defer></script>
		<title>Barcode Scanner</title>
	</head>
	<body>
		<p id="result">Aquí aparecerá el código</p>
		<p>A continuación, el contenedor:</p>
		<div id="container"></div>
	</body>
</html>
