<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
	<head>
		<title>Register - Brand</title>
		<%- include('templates/head')%>
        <script src="./js/register.js" defer></script>
	</head>

	<body class="bg-gradient-primary">
		<div class="container">
			<div class="card shadow-lg o-hidden border-0 my-5">
				<div class="card-body p-0">
					<div class="row">
						<div class="col-lg-5 d-none d-lg-flex">
							<div
								class="flex-grow-1 bg-register-image"
								style="
									background-image: url('https://images.unsplash.com/photo-1600147131759-880e94a6185f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=736&q=80');
								"
							></div>
						</div>
						<div class="col-lg-7">
							<div class="p-5">
								<div class="text-center">
									<h4 class="text-dark mb-4">
										Crear una cuenta!
									</h4>
								</div>
								<form class="user" action="/registrarUsuario" method="post">
									<div class="mb-3">
										<input
											class="form-control form-control-user"
											type="text"
											id="nombre"
											placeholder="Nombre"
											name="nombre"
                                            required
										/>
									</div>
									<div class="mb-3">
										<input
											class="form-control form-control-user"
											type="text"
											id="usuario"
											placeholder="Usuario"
											name="usuario"
                                            required
										/>
									</div>
									<div class="row mb-3">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<input
												class="form-control form-control-user"
												type="password"
												id="contrasena1"
												placeholder="Contraseña"
                                                required
											/>
										</div>
										<div class="col-sm-6">
											<input
												class="form-control form-control-user"
												type="password"
												id="contrasena2"
												placeholder="Repite la Contraseña"
												name="contrasena"
                                                required
											/>
										</div>
                                    </div>
                                    <div class="text-center mt-2">
                                        <p id="message" class="lead"></p>
                                    </div>
									<button
										class="btn btn-primary d-block btn-user w-100"
										type="submit"
                                        id="btn_register"
                                        disabled
									>
										Registrar Cuenta
									</button>
									<hr />
								</form>
								<div class="text-center">
									<a class="small" href="/"
										>Ya tienes cuenta? Iniciar Sesión!</a
									>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
