<nav
	class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark toggled"
>
	<div class="container-fluid d-flex flex-column p-0">
		<a
			class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
			href="/reader"
		>
			<div class="sidebar-brand-icon">
				<i class="fas fa-qrcode"></i>
			</div>
			<div class="sidebar-brand-text mx-3">
				<span>Reader</span>
			</div>
		</a>
		<hr class="sidebar-divider my-0" />
		<ul class="navbar-nav text-light" id="accordionSidebar">
			<li class="nav-item">
				<a class="nav-link" href="/reader" id="nav_reader"
					><i class="fas fa-barcode"></i
					><span> <b>Lector</b></span></a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/control_users" id="nav_users"
					><i class="fas fa-user-check"></i
					><span> <b>Usuarios</b></span></a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link text-danger" href="/logout"
					><i class="fas fa-power-off" style="color: #e74a3b"></i
					><span> <b>Cerrar Sesión</b></span></a
				>
			</li>
		</ul>
	</div>
</nav>
